html,
body {
  margin: 0;
  padding: 0;
}

main {
  background-color: #101010;
}

main h2 {
  color: white;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* ***** NAVBAR ***** */
.navbar {
  &:first-child {
    margin: 0;
  }
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  padding: 0;
  img {
    height: 32px;
    width: auto;
  }
  .navbar-icons {
    color: white;
  }
}

/* ***** COMPONENTE HEADER DELLA SECTION IN USO ***** */
.section-selected {
  .container-fluid {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  h2 {
    margin: 0;
    white-space: nowrap;
    margin-left: 15px;
  }
  select {
    width: 42%;
    height: 80%;
    padding: 0 1rem 0 0.5em;
    font-size: 0.9rem;
    background-color: #101010;
    color: grey;
    border: 1px solid grey;
    border-radius: 2px;
    &:active,
    &:hover,
    &:focus {
      border: 1px solid red;
    }
    &:active {
      color: white;
    }
  }
  button {
    background: none;
    border: 0;
    cursor: pointer;
    &:hover {
      background-color: rgba(44, 43, 43, 0.874);
    }
  }
}

/* ***** POSTER DEI FILM ***** */
.movie-poster {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  img {
    height: 400px;
  }
}

/* ***** MODALE COMMENTI ***** */
.modal-content {
  background-color: #101010;
  color: grey;
  border: 1px solid grey;
  border-radius: 2px;

  .modal-header {
    border-bottom: 1px solid grey;
  }

  .modal-title {
    color: white;
  }

  .btn-close {
    filter: invert(1);
  }

  .list-group-item {
    background-color: #101010;
    color: grey;
    border: 1px solid grey;
    &:hover {
      background-color: rgba(44, 43, 43, 0.874);
    }
  }

  .form-label {
    color: white;
  }

  .form-select,
  .form-control {
    background-color: #101010;
    color: grey;
    border: 1px solid grey;
    border-radius: 2px;
    &:focus {
      background-color: #101010;
      color: white;
      border: 1px solid red;
      box-shadow: none;
    }
  }

  .btn-primary {
    background: none;
    border: 1px solid gray;
    border-radius: 2px;
    &:hover {
      background-color: rgba(44, 43, 43, 0.874);
    }
    &:active,
    &:hover,
    &:focus {
      border: 1px solid red;
    }
  }

  .btn-danger {
    background: none;
    border: 1px solid red;
    border-radius: 2px;
    &:hover {
      background-color: rgba(44, 43, 43, 0.874);
    }
  }
}

/* ***** FOOTER ***** */
footer {
  background-color: #101010;
  padding: 3rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  nav {
    display: flex;
    gap: 4rem;
    margin-bottom: 20px;
    ul {
      list-style: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        color: grey;
        text-decoration: none;
      }
    }
  }
  .btn-primary {
    background: none;
    border: 1px solid gray;
    border-radius: 2px;
    margin-bottom: 10px;
    &:hover {
      background-color: rgba(44, 43, 43, 0.874);
    }
    &:active,
    &:hover,
    &:focus {
      border: 1px solid red;
    }
  }
  p {
    color: grey;
    margin-bottom: 0;
  }
}
