html,
body {
  margin: 0;
  padding: 0;
}

.navbar {
  &:first-child {
    margin: 0;
  }
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  padding: 0;
  img {
    height: 32px;
    width: auto;
  }
  .navbar-icons {
    color: white;
  }
}
